<div class="center-content">
  <mat-card class="card-control">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Stan liczników</mat-card-title>
      <mat-card-subtitle> Sprawdź stan liczników</mat-card-subtitle>
    </mat-card-header>
    <mat-accordion
      class="example-headers-align"
      multi
      *ngIf="agreements.length > 0"
    >
      <div *ngFor="let agreement of agreements">
        <mat-expansion-panel *ngFor="let meter of agreement.tenantId.meters">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>
                Najemca: {{ agreement.tenantId.email }}
              </strong></mat-panel-title
            >
            <mat-panel-description>
              {{ meter.createdAt | date: "dd/MM/yyyy hh:mm" }}
              <mat-icon>home</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="content-list">
            <span>Nieruchomość:</span> {{ agreement.propertyId.address }} |
            {{ agreement.propertyId.city }} |
            {{ agreement.propertyId.postalCode }}
          </p>
          <p class="content-list"><span>Opis:</span> {{ meter.content }}</p>
          <p class="content-list">
            <span>Stan licznika:</span> {{ meter.meter }}
          </p>
          <div class="post-image">
            <img [src]="meter?.imagePath" />
            <img [src]="meter?.meterImage" />
          </div>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
    <p class="mat-body-1" *ngIf="agreements.length <= 0">Brak zgłoszeń</p>
  </mat-card>
</div>
