<div class="chat-container">
  <!-- <div class="chat-toolbar">
    <div class="logo">
      <span>Chat</span>
    </div>
    <div class="user-profile">
      <span> Welcome, <b> Nazwa użytkownika do którego piszemy</b> </span>
    </div>
  </div> -->
  <div class="chat-page">
    <div class="chat-box">
      <app-chat-conversations> </app-chat-conversations>
      <app-chat-messages></app-chat-messages>
      <!-- <app-contacts-list
        (userSelected)="onUserSelected($event)"
      ></app-contacts-list> -->
      <!-- <app-messages-view
        [messages]="messages"
        [selectedUserName]="selectedUser?.name"
        (sendMessage)="onSendMessage($event)"
      ></app-messages-view> -->
    </div>
  </div>
</div>
