<div class="container" style="font-size: 24px; text-align: center">
  <span> Panel właściciela </span>
</div>

<hr />

<div class="side-nav-link">
  <mat-nav-list class="mat-list">
    <mat-list-item class="mat-item-hover" routerLink="home">
      <mat-icon class="icon-pading"> home </mat-icon>
      Strona główna
    </mat-list-item>

    <mat-divider> </mat-divider>

    <mat-list-item class="mat-item-hover" routerLink="propertyList">
      <mat-icon class="icon-pading"> maps_home_work </mat-icon>
      Nieruchomości
    </mat-list-item>

    <mat-divider> </mat-divider>

    <mat-list-item class="mat-item-hover" routerLink="propertiesTenant">
      <mat-icon class="icon-pading"> face </mat-icon>
      Najemcy
    </mat-list-item>

    <mat-divider> </mat-divider>

    <mat-list-item class="mat-item-hover" routerLink="agreementList">
      <mat-icon class="icon-pading"> gavel </mat-icon>
      Umowy
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item class="mat-item-hover" routerLink="documents">
      <mat-icon class="icon-pading"> file_copy </mat-icon>
      Dokumenty
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item class="mat-item-hover" routerLink="finances">
      <mat-icon class="icon-pading"> paid </mat-icon>
      Finanse
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item class="mat-item-hover" routerLink="meters">
      <mat-icon class="icon-pading"> bolt </mat-icon>
      Stan liczników
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item class="mat-item-hover" routerLink="notification">
      <mat-icon class="icon-pading"> build </mat-icon>
      Zgłoszenia
    </mat-list-item>
  </mat-nav-list>
</div>
