<div class="documents-container">
  <button
    class="material_button"
    id="button-umowa_najmu"
    value="../../../../assets/documents/umowa_najmu.pdf"
  >
    Umowa najmu
  </button>
  <button
    class="material_button"
    id="button-pozew_o_eksmisje"
    value="../../../../assets/documents/pozew_o_eksmisje.pdf"
  >
    Pozew o eksmisje
  </button>

  <button
    class="material_button"
    id="button-protokół_zdawczo_odbiorczy"
    value="../../../../assets/documents/protokol_zdawczo_odbiorczy.pdf"
  >
    Protokół zdawczo-odbiorczy lokalu
  </button>

  <button
    class="material_button"
    id="button-umowa_najmu_z_mozliwoscia_podnajmu"
    value="../../../../assets/documents/umowa_najmu_z_mozliwoscia_podnajmu.pdf"
  >
    Umowa najmu lokalu z możliwością podnajmu
  </button>
  <button
    class="material_button"
    id="button-wypowiedzenie_umowy_najmu"
    value="../../../../assets/documents/wypowiedzenie_umowy_najmu.pdf"
  >
    Wypowiedzenie umowy najmu lokalu mieszkalnego
  </button>

  <!-- <select id="select" style="width: 100%">
    <option
      value="https://pdftron.s3.amazonaws.com/downloads/pl/demo-annotated.pdf"
    >
      https://pdftron.s3.amazonaws.com/downloads/pl/demo-annotated.pdf
    </option>

    <option value="../../../../assets/documents/procedura.pdf">
      Procedura
    </option>
  </select> -->
</div>

<div #viewer class="webviewer"></div>
